In [1]:
import pandas as pd

#### Read data ####

In [2]:
raw_data = pd.read_csv('../data/Sales Dataset.csv')

In [3]:
raw_data.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
0,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
1,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
3,B-26776,4975,1330,14,Electronics,Printers,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
4,B-26776,4975,1330,14,Electronics,Printers,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12

#### dim_customers table ####

In [5]:
dim_customer = raw_data[['CustomerName', 'State', 'City']].drop_duplicates()

In [8]:
# check unique values
dim_customer['CustomerName'].value_counts()

CustomerName
Kimberly Fuller      2
Christian Jones      2
Megan Williams       2
Michael Rodriguez    2
Jacqueline Harris    2
                    ..
Robert Stone         1
Andrea Hill          1
Jeffrey Dixon        1
Juan Erickson        1
Karen Johnson        1
Name: count, Length: 802, dtype: int64

In [15]:
raw_data[raw_data['CustomerName'] == 'Jacqueline Harris']

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
28,B-26232,5219,1180,20,Office Supplies,Binders,COD,2023-02-03,Jacqueline Harris,California,San Francisco,2023-02
59,B-26730,6139,451,10,Furniture,Tables,Debit Card,2021-04-05,Jacqueline Harris,Texas,Houston,2021-04
61,B-26730,8636,3192,3,Furniture,Chairs,COD,2021-04-05,Jacqueline Harris,Texas,Houston,2021-04
63,B-26730,4439,1712,19,Furniture,Sofas,Credit Card,2021-04-05,Jacqueline Harris,Texas,Houston,2021-04

In [ ]:
#one customer can order the product from different locations - it's better to create a separate table to store location

In [20]:
dim_customer = dim_customer.drop(['State', 'City'], axis = 1).drop_duplicates()

In [23]:
dim_customer['CustomerName'].value_counts()

CustomerName
Andrea Hill           1
David Padilla         1
Robert Sexton         1
Jeffrey Dixon         1
William Carr          1
                     ..
Jacqueline Hubbard    1
Richard Kelley        1
Clayton Smith         1
John Fields           1
Robert Stone          1
Name: count, Length: 802, dtype: int64